* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	position: fixed;
	width: 100%;
	background-color: #eee;
	padding: 0.5em;
	border-bottom: 1px solid #7f7f7f;
	z-index: 2;
}

header > h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 64px;
	height: 64px;
	margin-right: 1em;
}

.version {
	position: absolute;
	right: 0.25em;
	bottom: 0.25em;
}
.version::after {
	content: "v0.1.3-alpha";
}

nav {
	position: fixed;
	width: 25%;
	height: calc(100vh - 5em - 1px);
	top: calc(5em + 1px);
	background-color: #ddd;
	padding: 0.5em;
	border-right: 1px solid #7f7f7f;
	z-index: 1;
}

nav > ul {
	padding: 0.5em 0 0 0.5em;
	list-style: none;
}

li > details {
	margin-bottom: 0.25em;
}

details > ul {
	padding-left: 2em;
	list-style: disc;
}

main {
	position: absolute;
	left: 25%;
	width: 75%;
	top: calc(5em + 1px);
	padding: 1em;
}

h2 {
	padding-bottom: 0.1em;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.5em;
}

h3 {
	margin: 1em 0 0.5em;
}

hr.split {
	margin: 1.5em 0 2em;
}

p.note {
	padding: 0.5em 0 0.75em 2em;
	font-style: italic;
	color: #777;
}

.info {
	background-color: #c0c0fa;
	padding: 0.5em;
	border-radius: 7px;
	margin: 0.5em 0;
}
.info-title {
	padding-bottom: 0.25em;
	border-bottom: 1px solid #a0a0e5;
	margin-bottom: 0.25em;
}

.tip {
	background-color: #fafac0;
	padding: 0.5em;
	border-radius: 7px;
	margin: 0.5em 0;
}
.tip-title {
	padding-bottom: 0.25em;
	border-bottom: 1px solid #e5e5a0;
	margin-bottom: 0.25em;
}

.error {
	background-color: #fac0c0;
	padding: 0.5em;
	border-radius: 7px;
	margin: 0.5em 0;
}
.error-title {
	padding-bottom: 0.25em;
	border-bottom: 1px solid #e5a0a0;
	margin-bottom: 0.25em;
}

.code-block {
	display: block;
	margin: 0.5em 0;
}
pre.code {
	display: inline-block;
	background-color: #f0f0f0;
	padding: 0 1em;
	border-radius: 7px;
}
.code-block > .code {
	display: block;
}

code.inline {
	display: inline-block;
	background-color: #f0f0f0;
	padding: 0.25em;
	border-radius: 3px;
}

ul.simple-list {
	list-style: none;
	margin-bottom: 0.5em;
}
.simple-list > li {
	margin-bottom: 0.25em;
}
.list-title {
	font-weight: bold;
}
.list-desc {
	padding-left: 0.5em;
}

.img-block {
	margin: 0.5em 0;
}
.img-block > img {
	max-width: 100%;
}

a.external::after {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url('../images/external_link.png');
	background-size: contain;
	content: "";
	vertical-align: middle;
}

.rel-page {
	margin: 3em 0 1.5em 1em;
}
.rel-page > ul {
	list-style: none;
}
.rel-page > ul {
	margin-bottom: 1em;
}
.next-page > li::before {
	content: "→ ";
}
.prev-page > li::before {
	content: "↩ ";
}
